#root {
    max-width: fit-content;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

fieldset {
    width: fit-content;
    border-color: #646cff;
    border-radius: 4px;
}

.ErrorMessage {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border: 2px groove #d02020;
    border-radius: 4px;
    padding: 5px 10px;
    display: block;
    margin: 10px auto;
    width: fit-content;
    background-color: #1a1a1a;
}
