.CalendarAndDatePickerContainer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.CalendarAndDatePickerContainer > form {
    margin-right: 8px;
    translate: 0px -11px;
}

.CalendarContainer {
    width: 1394px;
    height: 994px;
    border: 2px groove #646cff;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
    padding-bottom: 8px;
}

.DayLabelContainer {
    width: 1354px;
    height: 30px;
    border: 2px groove #646cff;
    border-radius: 4px;
    margin-left: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.HourLabelContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: fit-content;
}

.HourLabel {
    display: flex;
    height: 39px;
    padding-right: 4px;
    font-size: 13px;
}

.CalendarDayColumn {
    width: 190px;
    height: 889px;
    height: 937px;
    border: 2px groove #646cff;
    border-radius: 4px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.CalendarEventContainer {
    width: 90%;
    display: flex;
    background-color: navy;
    border-radius: 8px;
    margin: 1px;
    overflow: hidden;
    line-height: 18px;
    font-size: 13px;
}

.CalendarEventContainer-filler {
    background-color: transparent;
}

.CalendarEventTitle {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.CalendarTaskControls {
    border: 2px groove #646cff;
    border-radius: 4px;
    width: 228px;
    height: 576px;
    margin-left: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CalendarTaskControls > button {
    width: 172px;
}

.CalendarTaskControls > .CalendarEventContainer {
    width: 172px;
    margin: 10px;
}

.CalendarDatePickerAndTaskControlsContainer {
    display: flex;
    width: auto;
}

.CalendarTaskTitle {
    margin-top: 5px;
    font-weight: bold;
    font-size: 16px;
}

.CalendarTaskDescription {
    text-align: start;
    padding: 10px;
    width: 172px;
    box-sizing: border-box;
}
