.CalendarTaskEditor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
    height: fit-content;
}

.TaskDetails {
    display: flex;
    flex-direction: column;
    width: 264px;
    padding-top: 1px;
}

.TaskDetails > textarea {
    height: 160px;
    border: 2px groove #666aa3;
    border-radius: 4px;
    background-color: transparent;
    padding: 10px;
    width: 240px;
    display: flex;
    justify-content: space-evenly;
    margin: 10px auto;
}

.TaskDetails > textarea:focus,
.TaskDetails > textarea:hover {
    border-color: #646cff;
    outline: none;
}

.TaskDetails > input {
    margin: 10px auto;
    border: 2px groove #666aa3;
    border-radius: 4px;
    background-color: transparent;
    padding: 10px;
    width: 240px;
}

.TaskDetails > input:focus,
.TaskDetails > input:hover {
    border-color: #646cff;
    outline: none;
}

#TaskTags {
    height: 30px;
}

.RepeatingTaskContainer {
    width: 260px;
    display: flex;
    justify-content: space-evenly;
    padding: 5px 0px;
    border: 2px groove #646cff;
    border-radius: 4px;
    margin: 10px auto;
    border-color: #666aa3;
}

input[type='checkbox']:hover + label {
    color: #ffffff;
    cursor: pointer;
}

.NumberOfRepetitionsContainer {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.RepeatingDaysContainer {
    width: 232px;
    display: flex;
    justify-content: space-evenly;
    padding: 5px 0px;
    border: 2px groove #646cff;
    border-radius: 4px;
    margin: 10px auto;
    border-color: #666aa3;
}

input[type='checkbox']:hover + label {
    padding: 0px;
    outline: 1px solid #666aa3;
    border-radius: 8px;
    cursor: pointer;
}

input[type='checkbox']:checked + label {
    outline: 1px solid #646cff;
    padding: 0px;
    border-radius: 8px;
}

.RepeatingDaysContainer > input[type='checkbox'] {
    display: none;
}

.NumberOfRepetitionsContainer > input[type='number'] {
    width: 60px;
    height: 20px;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    padding: 5px 0px;
    border: 2px groove #646cff;
    border-radius: 4px;
    margin: 10px auto;
    border-color: #666aa3;
    text-align: center;
    -moz-appearance: textfield;
}

.NumberOfRepetitionsContainer > input[type='number']:focus {
    border: 2px groove #646cff;
    outline: none;
}

.NumberOfRepetitionsContainer > input[type='number']:hover {
    border: 2px groove #646cff;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.CreateRepeatingEventContainer {
    display: flex;
    flex-direction: column;
    border-color: #666aa3;
    margin: 0px auto;
}
